body {
    margin: 0;
    background-image: url("../images/circles-light.png");
}

.topsection {
    background: white;
    height: 10%;
    width: 100%;
    text-align: center;
}
.namesection {
    background: #4aaaa5;
    color: white;
    width: 25%;
    line-height: 250%;
    float: left;
    position: relative;
    left: 150px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    align-content: center;
}

.aboutsection {
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    padding: 10px;
}

a {
    float: right;
    width: 10%;
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
    right: 125px;
    top: 20px;
}

a:hover {
    background-color:#f4f5f6;
    color: black;

}

a:active {
    color: #4aaaa5;
}

.middle {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.topsection::after {
    content: "";
    clear: both;
    display: table;
}
.content {
    width: 960px;
    padding: 10px;
    margin: 50px auto;
    background: #ffffff;
    border-color: #dddddd;
}
footer {
    width: 100%;
    height: 40px;
    border-top: 5px solid #4aaaa5;
    background: #666666;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 20px;   
    position: fixed;
    left: 0;
    bottom: 0;
}
.text{
    color:#777777;
    line-height: 200%;
    font-size: 18px;
}

.formtext{
    color:#777777;
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    width: 930px;
    padding: 10px;
    margin: 5px 0;
}

label {
    padding: 10px 0;
}

hr{
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #dddddd;
    margin: 1em 0;
    padding: 0; 
}

input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    box-sizing: border-box;
}

input[type=submit]:hover {
    color: #dddddd;
}

input[type=submit]:active {
    color: black;
}

.portfolio::after {
    clear: both;
    content: "";
    display: table;
}

.imgcontainer {
    position: relative;
    width: 250px;
    height: 250px;
    float: left;
    margin: 15px;
}

img.portfolio{
    position: absolute;
    width: 200px;
    height: 200px;
    float: left;
    bottom: 25px;
    right: 25px;
}

.profilepicture{
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px;
}

.text-block {
    position: absolute;
    bottom: 30px;
    right: 25px;
    width:200px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}